<!--The content below is only a placeholder and can be replaced.-->
<h1>CDN Find My Vehicle App</h1>

<div class="row vehicleSelect">
  <div class="col-xs-12 col-md-8">
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
        Lunar Vehicles <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Heuvos Rancheros</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
  </div>
</div>
<div class="row footer">
  <p class="col-md-12">Please enter your co-ordinates (Lattitude and Longitude) to search your vehicle.</p>
  <form class="form-inline">
      <div class="form-group col-xs-12 col-md-4">
        <label for="inputLat">Lat</label>
        <input type="number" class="form-control" name="lat" [(ngModel)]="lat" placeholder="Lattitude">
      </div>
      <div class="form-group col-xs-12 col-md-4">
        <label for="inputLong">Long</label>
        <input type="number" class="form-control" name="lng" [(ngModel)]="lng" placeholder="Longitude">
      </div>
      <!--
      <button type="submit" class="btn btn-default col-xs-8 col-md-2" (click)="searchVehicle()">Search</button>
      -->
    </form>
</div>
