/* You can add global styles to this file, and also import other style files */
$font-family: arial, sans-serif;

body {
  font-family: $font-family
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}
